html {
  font-size: 62.5%; }

body {
  background: #f9f8f6; }

header #header_in h1 {
  text-align: center;
  margin: 20px 0 0 0; }
header .sp_navi {
  text-align: center;
  margin: 0 auto; }
  header .sp_navi .sp_navi_box {
    display: inline-block;
    margin: 5px; }
header .sp_navi_li {
  width: 150px;
  position: absolute;
  top: 100px;
  right: 2%;
  text-align: left;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 100; }
  header .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .sp_navi_li li a {
      color: #887f69;
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      text-decoration: none; }
    header .sp_navi_li li a:hover {
      color: #9d1a2d; }
@media (max-width: 550px) {
  header .pc_navi {
    display: none; } }
@media (min-width: 551px) {
  header #header_in {
    height: 90px;
    margin-bottom: 20px; }
    header #header_in h1 {
      text-align: left;
      margin: 30px 0 0 0; }
  header .sp_navi {
    display: none; }
  header .pc_navi {
    position: absolute;
    bottom: 0;
    right: 0; }
    header .pc_navi .pc_navi_box {
      display: inline-block; }
    header .pc_navi .pc_navi_li {
      margin: 0;
      padding: 0; }
      header .pc_navi .pc_navi_li li {
        list-style: none;
        float: left;
        margin: 0; }
        header .pc_navi .pc_navi_li li a {
          padding: 0 10px; }
        header .pc_navi .pc_navi_li li a.menu_mark {
          padding: 0 0 0 7px; } }

#main_area .container .main_contents {
  margin: 0;
  padding: 0; }
  #main_area .container .main_contents .main_contents_title {
    text-align: center;
    padding: 15px 0; }
  #main_area .container .main_contents .main_flex_box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between; }
    #main_area .container .main_contents .main_flex_box .newitem {
      width: 49.6%;
      background-color: #fff;
      padding: 5px;
      margin: 0 0 2px 0;
      box-sizing: border-box; }
      #main_area .container .main_contents .main_flex_box .newitem p {
        font-size: 1.2rem;
        margin-bottom: 10px; }
@media (min-width: 551px) {
  #main_area .container .main_contents .main_flex_box .newitem {
    width: 33%;
    padding: 5px;
    margin: 0 0 2px 0;
    box-sizing: border-box; }
  #main_area .container .main_contents .main_flex_box .main_contents_box {
    width: 49.6%;
    box-sizing: border-box; } }
#main_area .container .main_contents_box {
  background-color: #fff;
  padding: 20px;
  margin: 0 0 10px 0;
  width: 100%; }
  #main_area .container .main_contents_box h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #887f69;
    margin-bottom: 15px; }
  #main_area .container .main_contents_box h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #887f69;
    margin: 10px 0 5px 0; }
  #main_area .container .main_contents_box p {
    font-size: 1.4rem;
    margin-bottom: 10px; }
@media (max-width: 879px) {
  #main_area .container .main_contents .main_flex_box .main_contents_box {
    width: 100%; } }
#main_area .container .main_menu .main_menu_box {
  background-color: #fff;
  margin: 0;
  padding: 7px; }
  #main_area .container .main_menu .main_menu_box form.search {
    margin: 0;
    background: url("../images/top/search_icon.png") no-repeat scroll 0 0; }
  #main_area .container .main_menu .main_menu_box dl.search {
    position: relative;
    background-color: #e2ddd4; }
  #main_area .container .main_menu .main_menu_box dl.search dt {
    padding: 1px; }
  #main_area .container .main_menu .main_menu_box dl.search dt input {
    width: 86%;
    background: none;
    border: none;
    margin-bottom: 0; }
  #main_area .container .main_menu .main_menu_box dl.search dd {
    position: absolute;
    top: 0;
    right: 0; }
  #main_area .container .main_menu .main_menu_box dl.search dd button {
    display: block;
    padding: 6px;
    background: none;
    border: none; }
  #main_area .container .main_menu .main_menu_box dl.search dd button span {
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/top/search_icon.png") no-repeat scroll 0 0; }
#main_area .container .main_menu .menu_title {
  background-color: #887f69;
  margin: 10px 0 0 0;
  padding: 10px; }
  #main_area .container .main_menu .menu_title .menu_left {
    float: left; }
  #main_area .container .main_menu .menu_title .menu_right {
    text-align: right; }
#main_area .container .main_menu .menu_item {
  background-color: #fff;
  margin: 2px 0;
  padding: 10px; }
  #main_area .container .main_menu .menu_item .menu_left {
    float: left;
    font-size: 1.2rem;
    line-height: 26px; }
  #main_area .container .main_menu .menu_item .menu_right {
    text-align: right; }
#main_area .container .main_menu .main_menu_box_contents {
  background-color: #fff;
  margin: 0;
  padding: 10px 7px;
  display: flex; }
  #main_area .container .main_menu .main_menu_box_contents .main_menu_contents_left {
    width: 50%; }
  #main_area .container .main_menu .main_menu_box_contents .main_menu_contents_right {
    font-size: 1.2rem;
    margin-left: 10px;
    width: 50%; }
@media (min-width: 551px) {
  #main_area .container .main_menu .main_menu_box_contents {
    display: block; }
    #main_area .container .main_menu .main_menu_box_contents .main_menu_contents_left {
      width: 100%; }
    #main_area .container .main_menu .main_menu_box_contents .main_menu_contents_right {
      width: 100%;
      margin: 0; }
  #main_area .container .main_menu .main_menu_contents_right img {
    margin-left: auto;
    margin-right: auto;
    display: block; } }

@media (max-width: 550px) {
  .pc_title {
    display: none; } }
@media (min-width: 551px) {
  .sp_title {
    display: none; } }
footer hr {
  color: #887f69;
  border-top: 1px solid;
  margin: 20px 0; }
footer .foot_navi {
  text-align: center; }
footer .pagetop {
  margin: 20px 0 0 0; }
footer .foot_link {
  font-size: 1.2rem;
  word-spacing: 10px; }
footer .copy {
  color: #887f69;
  font-size: 1.0rem;
  margin: 10px 0; }
@media (min-width: 551px) {
  footer .pagetop {
    text-align: right; } }

.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 3px;
  margin: 5px 7px 5px 0; }

.owl-theme .owl-dots .owl-dot.active span {
  background: #9d1a2d; }

.owl-theme .owl-dots {
  text-align: left; }

#main_area .container .main_contents .main_contents_list-title {
  padding: 0 0 5px 0; }
  #main_area .container .main_contents .main_contents_list-title .categories {
    color: #887f69;
    background-color: #e2ddd4;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: left;
    word-spacing: 5px; }
#main_area .container .main_contents .main_contents_backnext {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }
  #main_area .container .main_contents .main_contents_backnext .b-n_box {
    color: #fff;
    background: #887f69;
    font-weight: bold;
    padding: 10px 30px;
    margin: 20px 0; }

.main_menu .cm_box {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 75% 0 0; }
  .main_menu .cm_box .cm_box-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
@media (max-width: 550px) {
  .main_menu .cm_box {
    display: none; } }

#main_area .container .main_contents .main_contents_itemback {
  background-color: #fff;
  margin: 0 -25px; }
  #main_area .container .main_contents .main_contents_itemback .main_contents_item {
    padding: 22px; }
    #main_area .container .main_contents .main_contents_itemback .main_contents_item .item_name {
      color: #000;
      font-weight: bold;
      letter-spacing: 3px; }
    #main_area .container .main_contents .main_contents_itemback .main_contents_item .item_no {
      color: #887f69;
      font-size: 1.0rem; }
    #main_area .container .main_contents .main_contents_itemback .main_contents_item hr {
      color: #e2ddd4;
      border-top: 1px solid;
      margin: 10px 0; }
  #main_area .container .main_contents .main_contents_itemback #display_img img {
    width: 100%; }
  #main_area .container .main_contents .main_contents_itemback #list_img {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between; }
  #main_area .container .main_contents .main_contents_itemback li {
    list-style: none;
    width: 19%;
    margin: 0; }
  #main_area .container .main_contents .main_contents_itemback li img {
    cursor: pointer; }
  #main_area .container .main_contents .main_contents_itemback table.item_tb {
    border-top: 1px solid #e2ddd4;
    border-right: 1px solid #e2ddd4;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px; }
    #main_area .container .main_contents .main_contents_itemback table.item_tb th, #main_area .container .main_contents .main_contents_itemback table.item_tb td {
      border-left: 1px solid #e2ddd4;
      border-bottom: 1px solid #e2ddd4;
      padding: 10px;
      text-align: center;
      color: #887f69;
      font-size: 1.2rem; }
    #main_area .container .main_contents .main_contents_itemback table.item_tb th {
      background-color: #f9f8f6; }
    #main_area .container .main_contents .main_contents_itemback table.item_tb th.item_tb_cs {
      width: 30%; }
    #main_area .container .main_contents .main_contents_itemback table.item_tb td.item_tb_setumei {
      text-align: left; }
@media (min-width: 551px) {
  #main_area .container .main_contents .main_contents_itemback {
    margin: 0; }
    #main_area .container .main_contents .main_contents_itemback .main_contents_item .item_name {
      width: 100%; }
    #main_area .container .main_contents .main_contents_itemback .main_contents_item .item_no {
      text-align: right;
      width: 100%;
      margin-top: -20px;
      padding-bottom: 10px; }
    #main_area .container .main_contents .main_contents_itemback #display_img {
      width: 69%;
      float: left;
      padding-right: 1%; }
    #main_area .container .main_contents .main_contents_itemback #list_img {
      width: 30%;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flexbox;
      display: -moz-flexbox;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: space-between; }
    #main_area .container .main_contents .main_contents_itemback li {
      list-style: none;
      width: 48%; }
    #main_area .container .main_contents .main_contents_itemback li img {
      cursor: pointer; } }
#main_area .container .main_contents input, #main_area .container .main_contents textarea, #main_area .container .main_contents select, #main_area .container .main_contents fieldset {
  margin: 5px 0 0 0;
  border-color: #e2ddd4; }
#main_area .container .main_contents .price {
  color: #ff0066;
  font-size: 2.4rem;
  font-style: italic; }
  #main_area .container .main_contents .price .tax {
    font-size: 1.4rem;
    color: #000;
    display: inline-block;
    margin-bottom: 0; }
  #main_area .container .main_contents .price .pricemark {
    font-size: 1.4rem;
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 0; }
#main_area .container .main_contents .quantity input {
  margin-left: 60px;
  display: inline-block;
  width: 120px; }
#main_area .container .main_contents .cart_bt {
  text-align: center;
  padding: 10px 0 20px 0; }
#main_area .container .main_contents .pro_setumei {
  font-size: 1.6rem;
  border-bottom: 1px solid #887f69;
  margin: 20px 0;
  color: #887f69;
  font-weight: bold; }
#main_area .container .main_contents .pro_stitle {
  font-size: 1.6rem;
  color: #887f69;
  font-weight: bold; }
#main_area .container .main_contents .pro_txt {
  font-size: 1.4rem;
  margin: 15px 0 25px 0; }
  #main_area .container .main_contents .pro_txt p {
    margin-bottom: 0; }
@media (min-width: 780px) {
  #main_area .container .main_contents .p-q-cb {
    display: flex; }
    #main_area .container .main_contents .p-q-cb .p-q {
      width: 60%; }
    #main_area .container .main_contents .p-q-cb .cart_bt {
      width: 40%;
      text-align: right;
      margin-left: 3px; } }

/*# sourceMappingURL=style.css.map */
